cohere==5.5.8
faiss-cpu==1.7.4
langchain==0.2.7
langchain-community==0.2.7
langchain-openai==0.1.15
langchain-postgres==0.0.8
numpy==1.24.3
openai==1.35.13
pandas==2.0.3
pgvector==0.2.5
psycopg==3.1.18
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyMuPDF==1.24.2
python-dotenv==0.21.0
python-Levenshtein==0.25.0
PyPDF2==3.0.1
scikit-learn==1.2.2
slack-sdk==3.30.0
slack-bolt==1.19.0
slackeventsapi==3.0.1
SQLAlchemy==2.0.27
tiktoken==0.7.0